.start-button {
  width: 4em;
  height: 2.5em;
  font-family: 'Agency FB', arial;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: .8em;
  background-color: #78A300;
  color: white;
  padding-left: 18px !important;
}

.start-button:hover {
  box-shadow: .1em .1em .1em #aaa;
}

.chat-card_border {
  width: 20em;
  border: .1em solid #aaa
}

.chat-card__socket-message {
  display: flex;
  justify-content: flex-start;
}

.chat-card__web-message {
  display: flex;
  justify-content: flex-end;
}

.chat-card__client-message {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  word-break: break-all;

  .client-message__position {
    padding: .5em;
    margin-right: .8em;
    margin-top: .4em;
    margin-bottom: .4em;
    border-radius: 1em;
    display: flex;
    justify-content: flex-end;
    max-width: 70%;
    font-size: 18px;
    background: #B0BEC5;
  }
}

.chat-card__operator-message {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  word-break: break-all;

  .operator-message__position {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    border-radius: 1em;
    padding: .6em;
    margin-right: .8em;
    margin-top: .4em;
    margin-bottom: .4em;
    background: #BCAAA4;
  }
}

.card-content {
  max-height: 40vh;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  overflow-x: hidden;
  overflow-y: auto;
}

.chat-form {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: flex;
  align-items: stretch;
}

.chat-input__textarea {
  margin-top: .6em;
  width: 100%;
}

.chat-input__button {
  margin-top: .6em;
}

.ant-row {
  padding: 0;
  margin: 0;
}

.ant-card-head-title {
  padding-left: .5em;
  font-weight: 500;
  font-size: 2em;
  border-bottom: .1em solid #aaa;
}

.ant-card-body {
  padding: 0;
  padding-top: 2em;
}
