.messandger-area {
  width: 500px;
  height: 650px;

  .close-option {
    z-index: 111111112;
    float: right;

    .close-button {
      height: 24px;
      width: 24px;
      padding: 0;
    }
  }

  .nickname-card {
    z-index: 111111112;
    position: absolute;
    background-color: lightgray;
    height: 72px;
    width: 100%;
    animation: nickname-card_appear 1s forwards ease;

    .ant-card-body {
      padding: 0 !important;
    }

    .nickname-title {
      font-size: 16px;
      margin-left: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .nickname-form {
      margin: 16px 8px;
      font-size: 12px;
    }
  }

  .card-content {
    height: 490px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-x: hidden;
    overflow-y: auto;

    .ant-card-body {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;

      div {
        width: 100%;
      }

    }
  }

  .chat-card__client-message {
    max-width: 80% !important;
    margin-left: 20%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-right: 8px;
    animation: message-appear .6s forwards ease;

    .client-message__position {
      width: auto !important;
      padding: .5em;
      margin-left: .8em;
      margin-top: .4em;
      margin-bottom: .4em;
      border-radius: .5em;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      max-width: 80%;
      font-size: 18px;
      background: #B0BEC5;

      .client-message-images {
        height: 100px;
        width: 100px;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }

      img {
        width: .9em;
        height: .9em;
      }

    }

    .message__time {
      margin-bottom: 8px;
      font-size: 1.2em;
      width: 50px;
      display: flex;
      justify-content: flex-end;
    }
  }

  .chat-card__operator-message {
    max-width: 80% !important;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 8px;
    animation: message-appear .6s forwards ease;

    .operator-message__position {
      width: auto !important;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      font-size: 18px;
      border-radius: .5em;
      padding: .6em;
      margin-right: .8em;
      margin-top: .4em;
      margin-bottom: .4em;
      background: #BCAAA4;

      .operator-message-images {
        width: 100px;
        height: 100px;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }

      img {
        width: .9em;
        height: .9em;
      }
    }

    .message__time {
      margin-bottom: 8px;
      font-size: 1.2em;
      width: 50px;
    }
  }

  .chat-form {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: stretch;
    max-height: 7.5em;
    height: 7.5em;

    .emoji-mart{

      .emoji-mart-preview-skins{
        display: none;
      }
    }

    div {

      width: 100%;

      .text-image {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .chat-input__textarea {
          margin-top: .4em;
          width: 100%;
          font-size: 1.5em;
          padding: .5em .5em .5em .5em;
          max-height: 90px !important;
          height: 90px !important;
          word-break: break-all;
          overflow-y: auto;

          img {
            width: .9em;
            height: .9em;
          }

          .placeholder {
            color: grey;
          }
        }

        .images-content {
          height: 120px;
          display: flex;

          .image-content__content {
            height: 80px;
            width: 100px;
            position: relative;

            .remove-button {
              position: absolute;
              right: 12px;
              top: 12px;
              padding: 0;
              background: black;
              opacity: .1;
              border: none;
              color: white;
              font-size: 1.5em;
              height: 1.5em;
              width: 1.5em;
            }

            .remove-button:hover {
              background: black;
              opacity: .4;
            }

            .download-image {
              max-height: 100px;
              max-width: 100px;
              padding: 1em;
            }
          }
        }

        .chat-input__textarea:focus {
          outline: none;
        }
      }
    }

    .control-buttons {
      display: flex;
      flex-direction: column;
      width: 4em;
      align-items: center;
      justify-content: flex-start;

      .picker-button {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

        .emoji-select {
          color: black;
          font-size: 2em;
          position: absolute;
          margin-right: .15em;
          right: 0;
          margin-top: .5em;

          img {
            height: 1em;
            width: 1em;
          }
        }
      }

      .picker-image__button {
        margin-top: 12px;
        border: none;
        background: none;
        color: black;
        height: auto;
        font-size: 2em;
        padding: 0;
        position: relative;

        div {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
        }
      }
    }

    .send-button {
      border: none;
      background: none;
      font-size: 2em;
      color: black;
      margin-top: 12px;
    }
  }

  .full-screen-image {
    background: black;
    opacity: .4;
    z-index: 11111111111;
    height: 101vh;
    width: 101vw;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    margin-left: -1vw;
    margin-bottom: -1vh;

    .close-full-image {
      border: none;
      background: none;
      color: white;
      font-size: 3em;
      position: absolute;
      top: 16px;
      right: 8px;
    }

    .close-full-image:hover {
      background: grey;
      opacity: .8;
      height: 1em;
    }

    .image-content {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
    }

  }
}

.messandger-area_appear {
  animation: appear-chat .8s ease;
  animation-fill-mode: forwards;
}

.messandger-area_extra-height {
  height: 750px;
  animation: area_add-extra-height .8s ease;
}

.chat-form_extra-height {
  height: 14em !important;
  max-height: 14em !important;
  animation: form_add-extra-height .8s ease;
}

.messandger-area_extra-height-remove {
  animation: area_remove-extra-height .8s ease;
}

.chat-form_extra-height-remove {
  animation: form_remove-extra-height .8s ease;
}

.card-content .ant-card-body::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}

.card-content .ant-card-body::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

.card-content .ant-card-body::-webkit-scrollbar-thumb {
  background-color: #AAA;
  border-radius: 10px;
}

@keyframes appear-chat {
  from {
    width: 4em;
    height: 2.5em;
    background-color: #78A300;
  }
  to {
    width: 500px;
    height: 650px;
    background-color: white;
  }
}

@keyframes message-appear {
  from {
    padding-bottom: 1.2em;
  }
  50% {
    padding-top: .1em;
    padding-bottom: 0;
  }
  to {
    padding-top: 0;
  }
}

@keyframes nickname-card_appear {
  from {
    max-height: 0;
  }
  to {
    max-height: 80px;
  }
}

@keyframes area_add-extra-height {
  from {
    height: 650px;
  }
  to {
    height: 750px;
  }
}

@keyframes form_add-extra-height {
  from {
    height: 7.5em;
    max-height: 7.5em;
  }
  to {
    height: 14em;
    max-height: 14em;
  }
}

@keyframes area_remove-extra-height {
  from {
    height: 750px;
  }
  to {
    height: 650px;
  }
}

@keyframes form_remove-extra-height {
  from {
    height: 14em;
    max-height: 14em;
  }
  to {
    height: 7.5em;
    max-height: 7.5em;
  }
}
