.messandger-area {
  width: 25vw;

  .close-option {
    z-index: 1;
    float: right;
  }

  .nickname-card{
    z-index: 1;
    background-color: lightgray;

    .ant-card-body{
      padding: 0 !important;
    }

    .nickname-title{
      font-size: 16px;
      margin-left: 16px;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .nickname-form{
      margin: 16px 8px;
      font-size: 12px;
    }
  }

}