.main-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12vh;
}

.menu-title {
  display: block;
  margin-top: .6em;
  font-size: 3em;
  color: white;
  margin-left: .6em;
  margin-bottom: .6em;
}

.logo {
  display: flex;
}

.user-info {
  display: flex;
  background-color: white;
  height: 7vh;
  width: 28vw;

  .user-info__group-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vw;
    height: calc(100% + 2px);
    font-size: 24px;
  }

  .user-info__info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22vw;
    height: 100%;

    .user-info__user-icon {
      font-size: 24px;
      margin-right: 4px;
    }

    .user-info__user-info {
      margin-left: 4px;
      font-size: 16px;
      margin-right: 4px;
    }

    .user-info__exit-icon {
      margin-left: 4px;
      font-size: 18px;
    }
  }

}

:global {

  .ant-popover-inner-content {
    .ant-btn {
      border: none;
      font-size: 18px;
    }
  }
}

.client-menu {

  height: calc(92vh - 6.2em);
  max-height: calc(92vh - 6.2em);
  overflow-y: auto;

  .client-menu-item {

    width: 100%;
    padding: 0.5vh 0;
    display: flex;
    justify-content: center;
    margin: 2vh 0;

    .client-menu-item__href {
      width: 100%;
    }

    .client-menu-item__client-row {
      display: flex;
      flex-direction: row;
      height: 10vh;
      width: 80%;

      .client-row__avatar-div {
        display: flex;
        width: 10vh;
        margin-left: 3vw;
        justify-content: flex-end;
        align-items: center;

        .client-row__avatar {
          height: 7vh;
          width: 7vh;
          border-radius: 4vh;
          border-color: red;
          border-style: solid;
          border-width: .15em;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2.5em;
          color: red;
        }
      }

      .client-row__content-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 2vw;

        h1 {
          margin-bottom: -.3em;
        }

        .content-col__title {
          color: white;
          font-size: 1.5em;
          margin-top: -.3em;
        }
      }

      .client-row__new-messages-col {
        color: white;
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 10vw;
      }
    }
  }
}

.client-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(64, 64, 64);
  border-radius: 10px;
}

.client-menu::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(64, 64, 64);
}

.client-menu::-webkit-scrollbar-thumb {
  background-color: #AAA;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(90deg,
  rgba(0, 0, 0, .2) 25%,
  transparent 25%,
  transparent 50%,
  rgba(0, 0, 0, .2) 50%,
  rgba(0, 0, 0, .2) 75%,
  transparent 75%,
  transparent)
}

:global {

  li.ant-menu-item {
    padding: 0;

    .ant-btn-circle.ant-btn-lg {
      width: 48px;
      height: 48px;
      font-size: 24px;

      .anticon {
        margin-right: 0;
      }
    }
  }
}
