.menu {
	background-color: black;
	color: white;
}

.icon {
	width: 100vw;
	height: 100px;
	background-color: white;
}

:global {
	li.ant-menu-item {
		padding: 0;
		color: black;
		height: auto;
	}

	.ant-menu-inline .ant-menu-item{
		padding: 0;
	}
}

.side-menu__item{
}
