@import "~antd/dist/antd.less";

.ant-card-body {
  padding: 0;
}

.ant-card-head {
  padding-left: 1em;
  margin: 0;
}

.ant-card-wider-padding .ant-card-body {
  padding: 0;
}

.content {
  overflow: initial;
  height: 86.5vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;

    .ant-card{
      background: none;
    }
}

.operator-messages{
}

.operator-chat {
  margin-top: .5em;
}

.ant-form-item-control{
  display: flex;
  align-items: stretch;
  min-height: 100%;
}

.operator-chat__input-form {
  width: 100%;
  padding: .5em .5em .2em .5em;
  margin: 0;
  font-size: 1.2em;
}
