@import "~antd/dist/antd.less";

.ant-card-body {
  padding: 0;
}

.ant-card-head {
  padding-left: 1em;
  margin: 0;
}

.ant-card-wider-padding .ant-card-body {
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  height: 90vh;

  .ant-card {
    background: none;
    padding-bottom: 2%;
    padding-top: 2%;
    height: 96%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.operator-messages {
  display: flex;
  flex-direction: column-reverse;
}

.operator-chat {
  margin-top: .5em;
}

.ant-form-item-control {
  display: flex;
  align-items: stretch;
  min-height: 100%;
}

.operator-chat__input-form {
  width: 100%;
  padding: .5em .5em .2em .5em;
  margin: 0;
  font-size: 1.2em;
}
