.menu {
  background-color: black;
  color: white;
}

.main-content {

  display: flex;

  .ant-layout-header{
    padding: 0 !important;
  }

  .left-sider {
    width: 352px !important;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: none !important;
    min-width: 0 !important;
    flex: none !important;
    background-color: #4a4a4a;
  }

  .content{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .right-sider {
    background-color: #4a4a4a;
    max-width: none !important;
    min-width: 0 !important;
    flex: none !important;
  }

  .right-sider__content {
    width: 352px !important;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 26px;
  }
}

.icon {
  width: 100vw;
  height: 100px;
  background-color: white;
}

:global {
  li.ant-menu-item {
    padding: 0;
    color: black;
    height: auto;
  }

  .ant-menu-inline .ant-menu-item {
    padding: 0;
  }

  .ant-menu.ant-menu-dark .ant-menu-item-selected {
    height: 10vh !important;
  }
}

@keyframes appear {
  from {
    width: 5vw
  }
  to {
    width: 25vw;
  }
}
