.menu {
  background-color: black;
  color: white;
}

.main-content {

  display: flex;
  height: 100%;

  .ant-layout-header{
    padding: 0 !important;
  }

  .left-sider {
    width: 352px !important;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: none !important;
    min-width: 0 !important;
    flex: none !important;
    background-color: #404040;

    .ant-layout-sider-children {
      height: 100%;

      div{
        height: 100%;
      }
    }
  }

  .content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }

  .right-sider {
    background-color: #4a4a4a;
    max-width: none !important;
    min-width: 0 !important;
    flex: none !important;
  }

  .right-sider__content {
    width: 352px !important;
    padding: 26px 32px;
    overflow-y: auto;
  }
}

.icon {
  width: 100vw;
  height: 100px;
  background-color: white;
}

:global {
  li.ant-menu-item {
    padding: 0;
    color: black;
    height: auto;
  }

  .ant-menu-inline .ant-menu-item {
    padding: 0;
  }

  .ant-menu.ant-menu-dark .ant-menu-item-selected {
    height: 10vh !important;
  }
}


.right-sider::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(64, 64, 64);
  border-radius: 10px;
}

.right-sider::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(64, 64, 64);
}

.right-sider::-webkit-scrollbar-thumb {
  background-color: #AAA;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(90deg,
  rgba(0, 0, 0, .2) 25%,
  transparent 25%,
  transparent 50%,
  rgba(0, 0, 0, .2) 50%,
  rgba(0, 0, 0, .2) 75%,
  transparent 75%,
  transparent)
}

@keyframes appear {
  from {
    width: 5vw
  }
  to {
    width: 25vw;
  }
}
