.header {
  width: 100%;
  height: 64px;
  display: flex;
  background: #000000;
  color: white;

  .header__company{
    width: 352px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
  }

  .header__links{
    width: ~"calc(100% - 704px)";

    .ant-tabs {
      height: 100%;
      display: flex;
      align-items: center;

      .ant-tabs-bar {
        margin-bottom: 0 !important;
        border: none;

        .ant-tabs-ink-bar {
          background-color: white;
        }

        .tab__link {
          color: #ffffff;
          font-size: 18px;
          font-weight: 500;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .header__user{
    width: 352px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 32px;
    font-size: 18px;
    color: #9b9b9b;

    .user-info__user-icon{
      padding-right: 8px;
    }

    .anticon.anticon-down{
      padding-left: 8px;
    }
  }
}